@model List<KnowledgeHubPortal.Domain.Entities.Article>

@{
    ViewData["Title"] = "Approve";
}

<h1>Approve</h1>

<h4>Article</h4>
<hr />

<form asp-action="Approve" asp-controller="Articles" method="post">
    <table class="table">
         <thead>
        <tr>

            <th>Select</th>
            <th>Title</th>
            <th>Article URL</th>
            <th>Category</th>
        </tr>
    </thead>

    <tbody>
            @foreach (var data in Model)
            {
             <tr>

                                    <td><input type="checkbox" name="Approve" value="@data.IsApproved" /></td>

                            <td>@data.Title</td>
                            <td>@data.ArticleUrl</td>
                            <td>@data.Category.CategoryName</td>

             </tr>   
            }
        </tbody>

    </table>

     <input type="submit" name="btnApprove" value="Approve" />
     <input type="submit" name="btnReject" value="Reject" / >

</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

